.DS_Store
.vscode
.env
.idea
.wqme
.ipynb
*.sqlite3
*pyc
__pycache__
staticfiles/
venv
env/
/static
media/
error.log
erros.log
/notebooks
.ipynb_checkpoints
/docker/postgres_postgis/vol/*
/docker/application/vol/*
